@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

html {
  background: url(./images/hero-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: flex;
  padding: 20px 20px;
}

.logo-container,
.menu-container,
nav,
.nav_links,
.search-container {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  color: white;
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  font-size: 32px;
  flex: 1;
}


.menu {
  display: none;
}

.menu-container {
  flex: 3;
}

nav {
  flex: 2;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0px 20px;
}

nav a:hover {
  color: #FFBE33;
}

.search-container {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.search-container input {
  border-width: 1px;
  border-style: solid;
  height: 30px;
  color: #ffffff;
  border-radius: 15px;
  text-indent: 10px;
  background-color: transparent;
}

.search-container input:focus {
  outline: none;
}


button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}


.menu--deactive {
  height: 0;
}

.menu--active {
  height: 200px;
}



@media only screen and (max-width: 800px) {

  header {
    flex-direction: column;
  }

  .menu-container {
    flex-direction: column;
    flex: auto;
    transition: all 0.5s ease 0s;
    overflow-y: hidden;
  }

  .nav_links {
    flex-direction: column;
  }

  .nav_links a {
    padding: 15px;
    font-size: 16px;
  }

  .search-container {
    justify-content: center;
  }

  .search-container button {
    margin-right: 0;
  }

  .menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  }

}

@media only screen and (min-width: 800px) {
  .menu-container {
    height: auto;
  }

}